**If you haven't already, please hit :**

`File` -> `Save a Copy in Drive`

**Copy this notebook to your Google drive, and work on a copy. If you don't do this, your changes won't be saved!**

# SF Salaries Exercise

Welcome to a quick exercise for you to practice your pandas skills! We will be using the [SF Salaries Dataset](https://www.kaggle.com/kaggle/sf-salaries) from Kaggle! Just follow along and complete the tasks outlined in bold below. The tasks will get harder and harder as you go along.

Follow steps 1-3 [here](https://www.analyticsvidhya.com/blog/2021/06/how-to-load-kaggle-datasets-directly-into-google-colab/) before beginning. This will help you get a bit familiar with Kaggle Datasets.

In [ ]:
! pip install -q kaggle
! mkdir ~/.kaggle

mkdir: cannot create directory ‘/root/.kaggle’: File exists

In [ ]:
! cp kaggle.json ~/.kaggle/
! chmod 600 ~/.kaggle/kaggle.json
! kaggle datasets download -d kaggle/sf-salaries

sf-salaries.zip: Skipping, found more recently modified local copy (use --force to force download)

In [ ]:
!unzip sf-salaries.zip

Archive:  sf-salaries.zip
replace Salaries.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: Salaries.csv
replace database.sqlite? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: database.sqlite

**Import pandas as pd. Import numpy as np.**

**Read Salaries.csv as a dataframe called sal.**

**Check the head of the DataFrame.**

**Use the .info() method to find out how many entries there are.**

**What is the average BasePay?**

**What is the highest amount of OvertimePay in the dataset ?**

**What is the job title of  JOSEPH DRISCOLL ? Note: Use all caps, otherwise you may get an answer that doesn't match up (there is also a lowercase Joseph Driscoll).**

**How much does JOSEPH DRISCOLL make (including benefits)?**

**What is the name of highest paid person (including benefits)?**

**What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid?**

**What was the average (mean) BasePay of all employees per year? (2011-2014)?**

**How many unique job titles are there?**

**What are the top 5 most common jobs?**

**How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?)**

**How many people have the word Chief in their job title? (This is pretty tricky)**

**Bonus: Is there a correlation between length of the Job Title string and Salary?**

# Great Job!